@import url('https://fonts.googleapis.com/css?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');

* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
table, th, td {
  border: 1px solid lightgray;
}
table {
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
a {
	text-decoration: none;
}
h1 {
	font-family: 'Pushster', sans-serif;
}
h5 {
	font-family: 'Pushster', sans-serif;
}
